
<app-filter-input
  [startDate]="startDate"
  [endDate]="endDate"
  [selectedRegions]="selectedRegions"
  [filterText]="filterText"
  (filterChange)="onFilterChange($event)"
  (datePickerOpen)="onDatePickerOpen()"
  (regionPickerOpen)="onRegionPickerOpen()"
></app-filter-input>

<ion-card>
  <ion-card-content>
    <ion-list *ngIf="paginatedCountries.length > 0">
      <ion-item *ngFor="let country of paginatedCountries">
        <ion-avatar slot="start">
          <img [src]="getCountryFlagUrl(country.cca2)" alt="Flag of {{ country.name.common }}" />
        </ion-avatar>
        <ion-label>{{ country.name.common }}</ion-label>
      </ion-item>
    </ion-list>

    <app-paginate-table
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      [totalItems]="filteredCountries.length"
      (pageChange)="onPageChange($event)"
    ></app-paginate-table>

  </ion-card-content>
</ion-card>

