article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-item{
        width: -webkit-fill-available;
    }
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    span{
        padding: 12px;
        font-size: x-small;
        color: #1E124A;
    }

}

.hidden{
    padding: 0 12px;

    .chips{
        padding: 12px 0;
        display: flex; 
    }
}


