article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-item{
        width: -webkit-fill-available;
    }
}

.hidden{
    padding: 0 12px;

    .chips{
        padding: 12px 0;
        display: flex; 
    }
}


