<article>
  <ion-item>
    <ion-input
      label="Filtrar por país"
      label-placement="floating"
      [clearInput]="true"
      [(ngModel)]="filterText"
      (ionInput)="filterCountries()" 
      type="text" 
      mode="md"
    >
    </ion-input>
  </ion-item>

  <ion-button fill="clear" (click)="hidden = !hidden">
    <ion-icon name="filter-sharp"></ion-icon>    
  </ion-button>

</article>

<div class="hidden" *ngIf="!hidden">
  <div class="chips">
    <ion-chip color="primary" (click)="openDatePickerModal()" *ngIf="!startDate && !endDate">Filtro por Fecha</ion-chip>
    <ion-chip color="primary" (click)="openCheckModal()" *ngIf="!selectedRegions">Filtro por Continente</ion-chip>  

    <ion-chip *ngIf="startDate && endDate">
      <ion-label>{{startDate | date: 'M/d/yy'}} - {{endDate | date: 'M/d/yy'}}</ion-label>
      <ion-icon name="close" (click)="clearDatePickFilter()"></ion-icon>
    </ion-chip>
    
    <ion-chip *ngIf="selectedRegions">
      <ion-label>{{selectedRegions}}</ion-label>
      <ion-icon name="close" (click)="clearFilterRegion()"></ion-icon>
    </ion-chip>

  </div>
  <ion-button expand="full" mode="md" (click)="applyRegionFilter()">Aplicar filtros</ion-button>

</div>

<ion-card>

  <ion-card-content>

    <ion-list *ngIf="paginatedCountries.length > 0">
      <ion-item *ngFor="let country of paginatedCountries">
        <ion-avatar slot="start">
          <img [src]="getCountryFlagUrl(country.cca2)" alt="Flag of {{ country.name.common }}" />
        </ion-avatar>
        <ion-label>{{ country.name.common }}</ion-label>
      </ion-item>
    </ion-list>

    <section>
      <ion-button fill="clear" (click)="goToFirstPage()" [disabled]="currentPage === 0">
        |<ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      
      <ion-button fill="clear" (click)="prevPage()" [disabled]="currentPage === 0">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>

      <span>Página {{ currentPage + 1 }} de {{ getTotalPages() }}</span>

      <ion-button fill="clear" (click)="nextPage()" [disabled]="(currentPage + 1) * itemsPerPage >= filteredCountries.length">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToLastPage()" [disabled]="(currentPage + 1) * itemsPerPage >= filteredCountries.length">
        <ion-icon name="chevron-forward-outline"></ion-icon>|
      </ion-button>
    </section>
  </ion-card-content>
</ion-card>

