section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    span{
        padding: 12px;
        font-size: x-small;
        color: #1E124A;
    }

}