<form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input formControlName="email" type="email"></ion-input>
  </ion-item>
  <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors" class="error-msg">
    <ion-text color="danger" *ngIf="loginForm.get('email')?.errors?.['required']">
      El email es requerido
    </ion-text>
    <ion-text color="danger" *ngIf="loginForm.get('email')?.errors?.['email']">
      Ingrese un email válido
    </ion-text>
  </div>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input formControlName="password" type="password"></ion-input>
  </ion-item>
  <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors" class="error-msg">
    <ion-text color="danger" *ngIf="loginForm.get('password')?.errors?.['required']">
      La contraseña es requerida
    </ion-text>
    <ion-text color="danger" *ngIf="loginForm.get('password')?.errors?.['minlength']">
      La contraseña debe tener al menos 6 caracteres
    </ion-text>
  </div>

  <ion-button *ngIf="!isLoading" expand="full" mode="md" type="submit" 
    [disabled]="loginForm.invalid"> 
    Iniciar sesión
  </ion-button>

  <section *ngIf="isLoading">
    <ion-spinner name="circular" color="primary"></ion-spinner>
  </section>

</form>