<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item detail="false">
              <ion-button id="present-alert" fill="clear" expand="full">
                <ion-label>Cerrar sesión</ion-label>
              </ion-button>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<ion-alert trigger="present-alert" class="custom-alert" header="La sesión se va a cerrar" [buttons]="alertButtons"></ion-alert>
